<ion-header>
  <ion-toolbar>
    <ion-title>Añadir contacto</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-input [(ngModel)]=nombre placeholder="Nombre"></ion-input>

<ion-input [(ngModel)]=apellidos placeholder="Apellidos"></ion-input>


<ion-input [(ngModel)]=tlf placeholder="Telefono"></ion-input>

<ion-input [(ngModel)]=email placeholder="Email"></ion-input>





<ion-button (click)="guardarContacto()" style="width: 100%;">

    
  GUARDAR
  
    </ion-button>

</ion-content>
