<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button (click)="getBackButtonText()" defaultHref="/"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-item>
    <ion-icon name="person-circle" color="primary"></ion-icon>
    <ion-label class="ion-text-wrap">
      <h2>
        <span class="date">
        </span>
      </h2>
      <h3>Contacto: </h3>
    </ion-label>
  </ion-item>
  
  <div class="ion-padding" *ngIf="contacto">
  
  
  <div style="display: flex;">

    <ion-label color="secondary">      Nombre:     </ion-label>
    <ion-input  value="contacto.nombre" [(ngModel)]=contacto.nombre placeholder="Nombre"></ion-input>
  </div>


  
  
  <div style="display: flex;">
    
    <ion-label color="secondary">      Apellidos:     </ion-label>
    <ion-input [(ngModel)]=contacto.apellidos placeholder="Apellidos"></ion-input>
  </div>
  
  
  <div style="display: flex;">
    
    <ion-label color="secondary">      Tlf:     </ion-label>
    <ion-input [(ngModel)]=contacto.tlf placeholder="Telefono"></ion-input>
  </div>
  
  <div style="display: flex;">

    <ion-label color="secondary">      Email:     </ion-label>
    <ion-input [(ngModel)]=contacto.email placeholder="Email"></ion-input>
  </div>

    
    
    
  </div>


  <ion-button (click)="updateContacto()" style="width: 100%;">

    
GUARDAR

  </ion-button>

  <ion-button color="danger" (click)="borrarContacto()" style="width: 100%;">

    
    ELIMINAR
    
      </ion-button>


 
</ion-content>
